<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<a href="/mycommand">
	    #1 MyCommand
		</a>
	</main>
	<footer>
	    <% include ../partials/footer %>
	</footer>
</body>
</html>